execute_tests
favorites
build*
bin
lib
libandroid
libios
.DS_Store
*.pro.user
./*.sh
./*.bat
gcc_64-build-5.12.6-release/*
android_armv7-build-5.12.6-release/*
*.autosave
*.swp
*.apk
DONOTCOMMIT_scripts/*
